{% extends "../base/base.html" %} 

{% block title %}Home - Index page{% endblock title %}

{% block main %}
{% include "./components/hero.html" %}

<div class="container">

<div class="row ">
    <div class="col-12 col-lg-8">
        {% for post in posts %}
        <a href="" class="text-decoration-none ">
            <div class="card border-0 pb-3 pb-sm-5 mb-sm-5 infinite-scroll">
                <div class="row">
                    <div class="col-8">
                        <div class="card-body">
                            <div class="mb-2 author">{{post.author}}</div>
                            <h3 class="fw-bold">{{post.title|truncatechars:60}}</h3>
                            <div class="text-muted d-none d-ld-block pb-3 fs-6">{{post.subtitle}}</div>
                            <div class="text-muted date">{{post.updated_at|date:"M d"}}</div>
                        </div>
                    </div>
                    <div class="col-4">
                        <img src="https://picsum.photos/205/115" alt={{post.subtitle}} class="img-fluid float-end my-5 d-block">
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
    <div class="col-4 d-none d-lg-block">b</div>
</div>
</div>
{% endblock main %}