{% extends 'base.html' %} {% block title %}Todo list - django{% endblock title%}
{% block body %}
<h1>Todo List</h1>
<a href="{% url 'create' %}">create</a>
<table>
  <tr>
    <th>Item</th>
  </tr>
  <tr>
    {% for task in object %}
    <td>{{task.title}}</td>
    <td><a href="{% url 'task' task.id %}">view</a></td>
    <td><a href="{% url 'update' task.id %}">update</a></td>
    <td><a href="{% url 'delete' task.id %}">delete</a></td>
  </tr>
  {%empty%}
  <p>there is no todo</p>
  {% endfor %}
</table>
{% endblock body %}
