<div class="container">
  <div class="row py-5">
    <div class="col-12 col-md-6 py-md-5">
      <div class="py-3 py-md-5 text-center text-md-start">
        <h1 class="display-1">Blog That You like.</h1>
        <p class="fs-4 py-3 text-muted fw-bold">
          Lorem ipsum, dolor sit amet consectetur adipisicing elit. Reiciendis,
          suscipit repellat. Pariatur in autem iusto possimus sapiente a,
          perferendis impedit illum nam voluptas reprehenderit voluptatibus.
        </p>
        <div class="py-3">
          <button class="btn btn-dark rounded-pill fw-bold px-4">
            Explore
          </button>
        </div>
      </div>
    </div>
    <div class="col"></div>
  </div>
</div>
